body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.auth-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    text-align: center;
}

.auth-container img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-label {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.auth-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.auth-input:focus {
    border-color: #007bff;
}

.auth-button {
    background-color: #28a745;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #218838;
}

.auth-text {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.auth-text a {
    color: #007bff;
    text-decoration: none;
}

.auth-text a:hover {
    text-decoration: underline;
}
.readonly-input {
    background-color: #e9ecef; /* Un gris claro */
    color: #495057; /* Color de texto más oscuro */
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 10px;
    user-select: none; /* Evita que el usuario seleccione el texto */
    pointer-events: none; /* Bloquea la interacción con el input */
}