<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/create-password.css}">
    <title>password create</title>
</head>
<body>
<main class="auth-container">
    <div>
        <img src="https://img.freepik.com/vector-premium/vector-diseno-logotipo-sandwich-simple_1594-256.jpg" alt="Logo Empresa">
        <form class="auth-form" th:action="@{/new-pass}" method="post">
            <label class="auth-label">Usuario</label>
            <input type="text" id="username" name="username" th:value="${username}" class="readonly-input" readonly>

            <label class="auth-label">Nueva Contraseña</label>
            <input type="password" id="password" name="passw" class="auth-input" required>

            <button type="submit" class="auth-button">Guardar Contraseña</button>

        </form>
    </div>
</main>
</body>
</html>